<div class="status-bar" [attr.data-pass]="pass" [attr.data-fail]="fail" [attr.data-skipped]="skipped">
  <div class="segment segment--fail">
    @if (showValue && fail > 0) {
    <span data-testid="spnFail">{{ fail }}</span>
    }
  </div>
  <div class="segment segment--pass">
    @if (showValue && pass > 0) {
    <span data-testid="spnPass">{{ pass }}</span>
    }
  </div>
  <div class="segment segment--skipped">
    @if ( showValue && skipped > 0) {
    <span data-testid="spnSkipped">{{ skipped }}</span>
    }
  </div>
</div>
