div.app__container {
  @apply grid grid-rows-[7rem_1fr_auto] w-full h-full;

  padding: 4px;

  row-gap: 2px;
}

section.app__header {
  @apply grid grid-cols-[max-content_1fr_max-content] w-full h-full;

  padding: 16px;
}

section.app__footer {
  @apply grid grid-cols-[1fr_max-content];
  @apply w-full h-full;

  column-gap: 0.4rem;

  padding: 4px;
}

.app__logo {
  justify-self: start;
}

.app__profile {
  @apply grid grid-rows-[1fr_auto] h-full;

  align-items: center;
  justify-items: center;
}

.app__profile--image {
}

.notification {
  cursor: pointer;
}

.footer__text {
  @apply grid grid-cols-[max-content_max-content_max-content];
  @apply w-full h-full;

  column-gap: 0.4rem;
}

div.notifications {
  display: grid;
  grid-template-rows: max-content 1fr;

  row-gap: 1.4rem;
}

div.notifications__header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

div.notifications__content {
  display: grid;
  grid-auto-rows: auto;

  row-gap: 0.4rem;
}

.notifications__close {
  cursor: pointer;
}
