:root {
    --space--s: 0.2rem;
    --space: 0.4rem;
    --space--l: 0.8rem;
    --space--xl: 1.6rem;

    --size__text--xl: 1.6rem;
    --size__text--xxl: 3.2rem;

    --color__background: rgba(255, 255, 255, 1);

    --color__text: rgba(0, 0, 0, 1);

    --color__surface: rgba(255, 255, 255, 1);
    --color__surface_shadow: rgba(0, 0, 0, .4);
}

html, body, #app {
    height: 100%;

    font-family: "Lato", sans-serif;
}