<page>
  <section class="content">
    <div class="header">
      <div class="avatar">{{ avatar() }}</div>
      <div class="information">
        <span data-testid="spnTitle" class="title">{{ title() }}</span>
        <div class="detail">
          <div class="value">
            <span class="label">Version:</span>
            <span data-testid="spnVersion">{{ summary()?.version }}</span>
          </div>
          <div class="value">
            <span class="label">Last Report:</span>
            <span data-testid="spnLastReport">{{ summary()?.lastReport | date : "short" }}</span>
          </div>
        </div>
      </div>
      <div data-testid="btnSettings" (click)="settings.set(true)">
        <tui-icon class="settings" icon="@tui.settings"></tui-icon>
      </div>
    </div>

    @if (summary()) {
    <status-bar [pass]="summary()!.pass" [fail]="summary()!.fail" [skipped]="summary()!.skipped" [showValue]="false"></status-bar>
    }

    <div class="summary">
      @if (summary()) {
      <project-summary [summary]="summary()!"></project-summary>
      } @if (evolution()) {
      <project-evolution [evolution]="evolution()!"></project-evolution>
      }
    </div>
  </section>
</page>

@if (settings()) {
<tui-drawer>
  <div data-testid="divSettings" class="project-editor__content">
    <span class="title project-editor__title">{{ title() }}</span>
    <div class="project-editor__form">
      <div class="field">
        <span class="label">Key:</span>
        <span>{{ summary()?.key }}</span>
      </div>
      <tui-textfield>
        <label tuiLabel>Name</label>
        <input data-testid="inpName" tuiTextfield [(ngModel)]="summary()!.name" />
      </tui-textfield>
    </div>
    <div class="project-editor__buttons">
      <button tuiButton appearance="primary" (click)="save()">Save</button>
      <button tuiButton appearance="outline" (click)="settings.set(false)">Close</button>
    </div>
  </div>
</tui-drawer>
}
